.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-login {
  gap: 10px;
  width: 745px;
  height: auto;
  display: flex;
  padding: 156px 72px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(239, 169, 169, 1);
}
.login-enteruserpass {
  gap: 6px;
  width: 572px;
  height: 272px;
  display: flex;
  padding: 0 0 0 64px;
  flex-wrap: wrap;
  box-shadow: 19px 19px 6px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-text {
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Allerta Stencil;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text02 {
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-family: Amaranth;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text04 {
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Allerta Stencil;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text06 {
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-family: Amaranth;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame2 {
  gap: 14px;
  width: 230px;
  height: 55px;
  display: flex;
  padding: 48px 0 19px 35px;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
}
.login-text08 {
  color: rgba(0, 0, 0, 1);
  width: 195px;
  height: auto;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-family: Archivo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
