{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
<link rel="shortcut icon" href= "{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
<link rel="stylesheet" href= "{{ url_for('static', filename='css/updt.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Payment</h1>

    <div class="form">
        <form action="/updatpayUser/{{task.id}}" method="POST">
            <span>Card Number: </span><input type="number" name="cardnum" id="cardnum" value="{{task.cardnum}}" required>
            <span>Card Type: </span>
            <select name="cardtype" id="cardtype" required="true">
                <option value="Visa card"{% if task.cardtype == 'Visa card' %} selected {% endif %} >Visa card</option>
                <option value="Master card"{% if task.cardtype == 'Master card' %} selected {% endif %} >Master card</option>
                <option value="UnionPay Card"{% if task.cardtype == 'UnionPay Card' %} selected {% endif %} >UnionPay Card</option>
            </select>
            <span>Amount: </span><input type="number" name="amount" id="amount" value="{{task.amount}}" required>
            <span>Service :</span>
                <select name="service" id="service" required="true">
                    <option value="Payment"{% if task.service == 'Payment' %} selected {% endif %} >Payment</option>
                    <option value="Reparation"{% if task.service == 'Reparation' %} selected {% endif %} >Reparation</option>
                    <option value="Refund"{% if task.service == 'Refund' %} selected {% endif %} >Refund</option>
                </select>
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
<br><br><br><footer class="ttt"><a title="Go back to Menu" href="{{ url_for('admin_dashboard') }}"><img src="{{ url_for('static', filename='img/daxb.png') }}"></a>SDX Menu</footer>
